.App {
  text-align: center;
}

.numbers {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.number {
  flex-basis: 10%;
  margin: 10px;
  padding: 30px 10px;
  border: 1px solid black;
  border-radius: 50%;
}
